<h1>Movie Listings </h1>
<table>
  <thead>
  <tr>
    <th><h1>Title</h1></th>
    <th><h1>Review</h1></th>
  </tr>
  </thead>
 
  <% @movies.each do |movie| %>
  <tbody>
    <tr>
      <td><%= movie.title %></td>
      <td class ="link_to"><%= link_to 'See Movie', movie_path(movie) %></td>
    </tr>
    </tbody>
  <% end %>
</table>

<h2><%= link_to 'Add A New Movie', new_movie_path %></h2>