<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

  <p>
  <strong>rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @movie.desc %>
</p>


<p>
  <strong>genres:</strong>
  <%= @movie.genres %>
</p>