
 <!--Card mockup -->
    <div class="slide">
      <div class="card">
        <div class="image" id="img1"></div>
        <div class="content">
          <p class="theme"><%= @movie.title %></p>
          <h2 class="header"> <%= @movie.rating %></h2>
          <p class="paragraph"> <%= @movie.desc %></p>
        
        </div>
      </div>
    </div>
    
  <!--End card mockup-->
  
  
<script src="https://unpkg.com/scrollreveal"></script>
<script>
  ScrollReveal().reveal('.slide',{
        delay: 1000,
        easing: 'ease',
        scale :0.85,
        reset: true,
        mobile: true
   
  });
</script>