<body id = "bg">

<div id ="particles-js">


  


  <div class="log-form">
    <h2 id = formHeader> Betflix Login</h2>
    <form id="flog">
      <input type="text" title="username" placeholder="username" />
      <input  type="password" title="username" placeholder="password" />
      <button type="submit" class="btn"><a href="<%= pages_home_path %>">Login</a></button>
      <a class="reset" href="#">Forgot Username?</a>
      <button type="submit" class="signup"><a href="<%= pages_signup_path %>">Sign Up</a></button>
    </form>
  </div><!--end log form -->


    <script type="text/javascript">
        particlesJS.load('particles-js', '/public/particles.json', function() {
            console.log('callback - particles.js config loaded');
        });
    </script>
</div>

</body>

<script src="particles.js"></script>