<body class="homebackground">
  <div>
    <h3 id="home">Betflix</h3>
      <h1>A Platform for Movie Reviews</h1>
  </div><!--end log form -->
  
  <div>
  <p> <h2>New User ?</h2> 
    <li>
        <a href="<%= pages_login_path %>">
          <button type="submit" id="sign">Sign Up</button></a>
      </li>
    </button>
    <p>
 </div>
</body>

