<body class="homebackground">

    <h3 id="home">Betflix</h3>
<h2>A Platform for Movie Reviews</h2>
  


  <div class="log-form">
    <h2 id = formHeader>Login or Signup</h2>
    <form id="flog">
      <input type="text" title="username" placeholder="username" />
      <input  type="password" title="username" placeholder="password" />
      <button type="submit" class="btn">GO</button>
      <a class="reset" href="#">Forgot Username?</a>
    </form>
  </div><!--end log form -->


</body>

