


<form class ="box" action ="index.html" method="post">
  <h1>Pages</h1>
  <input type = "text" placeholder = "username" class="log_input">
  <input type = "password" placeholder = "password" class="log_input">
  <input type = "submit" value = "login" id="submit">
</form>