<body id = "bg">

<div id ="particles-js">





  <div class="log-form">
    <h2 id = formHeader> Betflix Sign Up</h2>
    <form id="flog">
      <input type="text" title="Email" placeholder="Email Address" />
      <input type="text" title="username" placeholder="username" />
      <input  type="password" title="username" placeholder="password" />
      <button type="submit" class="btn"><a href="<%= pages_index_path %>">Create Account</a></button>
    </form>
  </div><!--end log form -->


  <script type="text/javascript">
      particlesJS.load('particles-js', '/public/particles.json', function() {
          console.log('callback - particles.js config loaded');
      });
  </script>
</div>

</body>

<script src="particles.js"></script>