
  nav{
    display: inline-block;
    background-color: rgb(31, 30, 30);
    width: 100%;


  }

  nav .nav-wrapper{
  margin-left: auto;
  }
  nav a{
    text-decoration: none;
  }
  nav .nav-wrapper a{
    color: #ffffff;
  }
  
  .logo{
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
  }
  .logo a{
    color: #db0000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
  
  }
  
  .logo a:hover{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
   
  }
  nav ul{
    float: right;
  
  }
  nav ul li{
    display: inline-block;
  
  }
  nav ul li:not(:first-child){
    margin-left: 48px;
  }
  nav ul li:last-child{
    margin-right: 24px;
  }
  nav ul li a{
    display: inline-block;
    outline: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
  }
  
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #564d4d;
  }  

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky  .content {
    padding-top: 60px;
}
.search_btn{
    display: inline-block;
    position: relative;
    cursor: pointer;
    font: inherit;
    border-style: solid;
    border: 1px;
    border-radius: 10px;
    background-color: #221F1F;
    color: #fff;
    width: 13em;
    padding: 5px 10px;
    margin: auto;
    margin-top: 1em;
    height: 3em;
    left: 50%;
    transform: translate(-50%,-50%);
}
.search{
  border-radius: 8px;
  padding-left: 1em;
  padding-top: 1em;
  display: block;
  font-family: inherit 16px;
  width: 50%
}