h1{
  font-size: 2em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #FFF;
  text-decoration: underline;

}
#post{
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #FFF;
    padding-top: 10em;
}
.paragraph{
    font-size: 1.2em;
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 2.5vmin;
    color: #fff;

}
.para-bg{
    width: 65%;
    border: solid #221F1F;
    background-color: rgba(34,31,31,.9);
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
    margin: auto;
    padding: 10px;



}
.bg{
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;


}
.post-container p{
    padding-top: 2em;
}
.movie-container{
    display: inline;
    top: 10%;
    width: 75%;
    height: 60%;
    border: solid #221F1F;
    background-color: #221F1F;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 3em;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);

}
.movie-container .paragraph{
    text-align: justify;
    margin: 10%;

}
.comment-container{
    width: 35%;
    border: solid #221F1F;
    background-color: #221F1F;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 2em;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);


}
.post-container{
    width: 85%;
    background-color: #221F1F;
    margin: 0 auto;
    margin-bottom: 2em;
    padding-top: 2em;
    box-shadow: 0 0 10px 0 rgb(10, 10, 3);
    border-radius: 10px;

}
.review-container{
    padding-top: 30em;
}
.post-container #commenter{
    margin: 0 auto;
    text-align: center;
    color: #E50914;
    font-weight: bold;

}.post-container #commenter input{
     background-color: transparent;
    color: #fff;
    text-align: center;
 }

.post-container #comment input{
    background-color: transparent;
    color: #fff;
    text-align: center;
}
.post-container #comment{
    margin: 0 auto;
    text-align: center;
    color: #E50914;
    font-weight: bold;

}
.post-container #btn{
    background: transparent;
    background-color: transparent;
    color: transparent;
    border: none;
}
.comment-container p {
    color: #fff;

    text-align: center;


}
.comment-container #comment-name{
    color: #E50914;
    font-weight: bold;
}

