h1{
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #FFF;
  padding: 0%;
}
.post-container p{
    padding-top: 2em;
}
.movie-container{
    top: 10%;
    width: 75%;
    height: 60%;
    border: solid #221F1F;
    background-color: #221F1F;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 3em;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);

}
.movie-container .paragraph{
    text-align: center;
}
.comment-container{
    width: 35%;
    border: solid #221F1F;
    background-color: #221F1F;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 2em;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);


}
.post-container{
    width: 85%;
    background-color: #221F1F;
    margin: 0 auto;
    margin-bottom: 2em;
    padding-top: 2em;
    box-shadow: 0 0 10px 0 rgb(10, 10, 3);
    border-radius: 10px;

}
.post-container #commenter{
    margin: 0 auto;
    text-align: center;
    color: #E50914;
    font-weight: bold;

}.post-container #commenter input{
     background-color: transparent;
    color: #fff;
    text-align: center;
 }

.post-container #comment input{
    background-color: transparent;
    color: #fff;
    text-align: center;
}
.post-container #comment{
    margin: 0 auto;
    text-align: center;
    color: #E50914;
    font-weight: bold;

}
.post-container #btn{
    background: transparent;
    background-color: transparent;
    color: transparent;
    border: none;
}
.comment-container p {
    color: #fff;
    font-weight: bold;
    text-align: center;


}
.comment-container #comment-name{
    color: #E50914;
}

