


<!--navBar-->
        <nav>
            <div class="logo">
                <a href="<%= pages_index_path %>">Betflix</a>
            </div>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="<%= pages_index_path %>">Home</a></li>
                    <li><a href="<%= movies_index_path %>">Movies</a></li>
                   <li><a href="<%= pages_index_path %>">Login</a></li>
                </ul>
            </div>
        </nav>

  <!--End of Navbar-->
