<!DOCTYPE html>
<html lang="en">

  <head>
      
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Joe Blackledge">
    <!--LOGO-->
    
    <!--Google Fonts-->

    <link href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet">
      <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" 
      integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" 
      crossorigin="anonymous"></script>

    <title>Betflix</title>


    <!--Custom Stylesheets for this template-->
    

    <!--Libraries-->

    <%= stylesheet_link_tag 'navigation' %>
  </head>

<body>

<!--navBar-->
        <nav>
            <div class="logo">
                <a href="index.html.erb">Betflix</a>
            </div>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">List</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </div>
        </nav>

  <!--End of Navbar-->
  </body>
  </html>